*.o
*.lo
*.a
*.la
*.exe
*.obj
*~
.deps
.libs
Makefile
Makefile.in
/build
/configure
/config.log
/config.status
/config.guess
/config.sub
/config.h
/ltmain.sh
/missing
/stamp-h*
/aclocal.m4
/autom4te.cache
/depcomp
/install-sh
/libtool
